.container{
    width: 100%;
    background-image: url(../../Assests/driving.png);
    background-repeat: no-repeat;
    /* height: 100vh; */
    margin-top: rem;
    padding-bottom: 10rem;
    margin-bottom: 3rem;
}

.innerContainer{
    width: 85%;
    margin: auto;
    padding-top: 18rem;
}

.heroDown{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    padding: 1rem 4rem;
    margin-top: 54rem;
    
}

.project h1{
font-family: Inter;
font-size: 40px;
font-weight: 700;
line-height: 48.41px;
color: #1429A9;

}

.project p{
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #515151;
    width: 96%;



}

