.container{
    width: 100%;
    position: fixed;
    z-index: 2;
    background: white;
}

header{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    align-items: center;

}

ul{
    display: flex;
    gap: 2rem;
}

li{
    list-style: none;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    font-family: Lato;
font-size: 20px;
font-weight: 400;
line-height: 28.1px;


}

a{
    text-decoration: none;
    color: black;
}